*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
a{
    cursor: pointer;
    font-size: 0.875rem;
}
.main-body{
    background-color: #F2F2F2;;
}
.container{
    max-width: 1640px;
    margin: 0 auto;
}
header{
    padding: 2rem 0;
}
.header-search{
    display: none;
}
header ul li a{
    color: rgba(0, 0, 0, 0.90);
}
ul li a:hover{
    border-bottom: 2px solid #29b24e;
}
header .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header .container img{
    height: 3rem;
}
header .container ul{
    display: flex;
    gap: 3rem;
}
header .container .sell-something{
    padding: 0.813rem 1.625rem;
    background-color: #29B24E;
    color: #FFFF;
    border-radius: 0.75rem;
}
.aside-search{
    display: grid;
    grid-template-columns: minmax(auto, 395px) minmax(auto, 1225px) ;
    gap: 1.25rem;
}
.section-search{
    background-image: url(images/Rectangle.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;   
}
.image-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-text h1{
    margin-top: 60px;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.80);
    font-weight: 600;
}
.image-text form input{
    margin-top: 40px;
    border-radius: 10px;
    background: rgba(248, 248, 248, 0.80);
    width: 324px;
    height: 48px;
    box-shadow: 0px 4px 10px 0px rgba(124, 124, 124, 0.27);
}
.image-text input::placeholder{
    opacity: 0.5;   
    padding-left: 24px; 
}
.main-body aside{
    background-color: #F8F8F8;
    border-radius: 1.5rem;
}
aside form input{
    accent-color:  #29B24E;
}
.section-location{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.section-location label{
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}
.section-location select{
    border-radius: 10px;
    border: 1px solid rgba(13, 156, 164, 0.21);
    background: #F8F8F8;
    padding: 1rem;
    margin-top: 1rem;
}
.section-checkbox-property{
    padding-left: 2rem;
}
.section-checkbox-price{
    display: flex;
    flex-direction: column; 
    gap: 0.625rem;
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 2.438rem;
    padding-left: 2rem;
}
.price-header{
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
.property-header{
    color: #000;
    font-size: 1rem;
    margin-bottom: 0.813rem;
}
.form-property-radio{
    margin-top: 0.625rem;
}
.form-property-radio label{
    padding-left: 0.5rem;
}
.form-property-radio label::after{
    content: "|9548";
    color:  rgba(0, 0, 0, 0.50);
}
.form-price-range label{
    padding-left: 12px;
}
.form-price-range label::after{
    content: "* 2183 ads";
    color:  rgba(0, 0, 0, 0.50);
    padding-left: 0.5rem;
}
.section-treading-ads{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem;
}
.treading-header{
    margin: 2rem 0;
    font-size: 18px;
}
.section-treading-ads article{
    background-color: #F8F8F8;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem 0;
    position: relative;
}
.section-treading-ads article a img{
    border-radius: 24px;
   width: 100%;
max-height: 202px;
   object-fit: cover;

}
.section-treading-ads .vip{
    position: absolute;
    left: 32px;
    top: 33px;
    background-color: #29B24E;
    border-radius: 15px;
    font-size: 12px;
    color: white;
    padding: 6px 11px;
}
.section-treading-ads img{
    border-radius: 1.5rem;
}
.article-p-flex-end{
    display: flex;
    justify-content: flex-end;
    color: #29B24E;
    font-weight: 600;
    font-size: 1.5rem;
    align-items: center;
    gap: 0.5rem;
}
.kajiado{
    opacity: 0.5;
}
.article-p-flex-end::after{
    content: "/Month";
    color: #000;
    font-size: 1rem;  
}
.article-property-details{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}
.article-line{
    width: 100%;
    height: 1px;
    background-color: #CFEAD6;
}
footer{
    margin-top: 120px;
    border-radius: 25px;
    background: #29B24E;
    box-shadow: 0px 4px 25px 0px rgba(194, 194, 194, 0.10);
    color: white;
}
footer ul{
    display: flex;
    gap: 1.5rem;
}
footer ul li a{
    color: white;
}
.footer-above-line{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.footer-line{
    background-color: #D0D0D0;
    height: 1px;
    width: 100%;
}
.footer-below-line{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}  
.home-main-section{
    padding-top: 55px;
    gap: 44px;
    display: grid;
    grid-template-columns: minmax(auto, 810px) minmax(auto, 786px) ;

}
.aside-image{
    border-radius: 20px;
    background-image: url("images/house3-4-6.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-main-section aside{
    border-radius: 24px;
    background-color: #F8F8F8;
    padding: 32px 40px;
}
.aside-header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.aside-header-info p:nth-child(2){
    opacity: 0.6;
}
.aside-header-info p:last-child{
    display: flex;
    gap: 4px; 
    opacity: 0.6;
}
.aside-header-info p:first-child{
    background-color:  #29B24E;
    border-radius: 15px;
    font-weight: 500;
    color: #FFFF;
    padding: 5px 11px;
}
.aside-header{
    padding-top: 24px;
    padding-bottom: 40px;
}
.aside-header p:first-child{
    font-size: 22px;
    color: #000;
    font-weight: 600;
    opacity: 0.9;
}
.aside-header :nth-child(2){
    padding-top: 12px;
    padding-bottom: 32px;
    font-size: 14px;
    opacity: 0.6;
}
.aside-header p:nth-child(3){
    font-size: 14px;
    opacity: 0.8;
}
.home-aside-line{
    height: 1px;
    background-color: #ECECEC;
    width: 100%;
}
.home-property-details{
    display: flex;
    gap: 24px;
    padding: 16px 0;
}
.home-property-details p{
    font-weight: 500;
    font-size: 14px;
    opacity: 0.8;
}
.property-detail-grid{
    padding: 24px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.property-adress{
    grid-area: 1/1/2/2;
}
.facilities{
    grid-area: 1/2/4/3;
}
.condition-one{
    grid-area: 2/1/3/2;
}
.condition-two{
    grid-area: 3/1/4/2;
}
.estate-name{
    grid-area: 1/3/2/4;
}
.furnishing{
    grid-area: 2/3/3/4;
}
.property-size{
    grid-area: 3/3/4/4;
}
.property-detail-grid h1{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
    padding-bottom: 4px;
}
.property-detail-grid p{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}
.property-detail-grid ul{
    display: flex;
    flex-direction: column;
}
.property-detail-grid ul li{
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}
.aside-footer{
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aside-footer p:first-child{
    font-size: 36px;
    font-weight: 600;
    color: #29B24E;
    padding-left: 44px;
}
.aside-footer p:first-child::after{
    content: "/Month";
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
.sent-message{
    display: flex;
    gap: 16px;
}
.sent-message a:first-child{
    padding: 13px 26px;
    border-radius: 12px;
    border: 1px solid #29B24E;
    color: #29B24E
}
.sent-message a:last-child{
    padding: 13px 26px;
    background-color: #29B24E;
    color: white;
    border-radius: 12px;
}
.similar-ads .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.similar-ads .container h1{
    padding-top: 72px;
    padding-bottom: 24px;
}
.similar-ads .container article{
    position: relative;
    padding-top: 24px;
    padding: 16px;
    background-color: #F8F8F8;
    border-radius: 24px;
}
.similar-ads .container article img{
    border-radius: 24px;
    width: 363px;
    height: 202px;
    object-fit: cover;

}
.similar-ads .container article .vip{
    position: absolute;
    left: 39px;
    top: 34px;
    background-color: #29B24E;
    border-radius: 15px;
    font-size: 12px;
    color: white;
    padding: 6px 11px;
}
.similar-ads .container article h3{
    padding-top: 16px;
}
.similar-ads .container .kajiado{
    padding-top: 8px;
}
.similar-ads .container .article-p-flex-end{
    padding-top: 15px;
    padding-bottom: 16px;
}

@media (max-width: 760px) {
    body{
        display: flex;
        flex-direction: column;
        background: #F2F2F2;
    }
    .container{
        margin: 0 auto;
        padding: 20px;
    }
    header nav, .sell-something{
        display: none;
    }
    .main-header .header-search{
        display: block;
    }
    .aside-search{
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .section-search{
        height: 100vh;
    }
    .image-text{
        text-align: center;
    }
    .image-text input{
        display: none;
    }
    .section-treading-ads{
        display: flex;
        flex-direction: column;
    }
    footer nav ul{
       display: flex;
       flex-direction: column;
    }
    .footer-p-support{
        display: none;
     }
     .home-body header{
        display: none;
     }
     .home-main-section{
        display: flex;
     }

     .home-main-section .aside-footer{
        display: flex;
        flex-direction: column;
     }  
     .aside-footer p{
        padding-right: 10rem;
        padding-bottom: 3rem;
     }
   
 .sent-message{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    text-align: center;
 }
     .similar-ads article:nth-child(1n +2){
        display: none;
     }
  }

